<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listeners.listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Arbi.topi/IdeaProjects/firstProject/src/main/java/Elements">
        <parameter name="username" value="arbi"/>
        <parameter name="password" value="arbi123"/>
        <parameter name="age" value="23"/>
        <classes>
        <class name="ExelTest"/>
        <class name="FaqjaKryesoreTest"/>
        <class name="AlertsTest"/>
        <class name="KlasaELinqeveTest"/>
        <class name="ApiRestBookerTest"/>
        <class name="SliderTest"/>
    </classes>
</test> <!-- Test -->
</suite>